/Spring_api_rest_cine/nbproject/private/
/Spring_api_rest_cine/build/
/Spring_api_rest_cine/dist/
/Cine_api_rest_spring/target/
Cine_api_rest_spring/src/main/java/com/cine/rest_spring/service/conectar.java
Cine_api_rest_spring/src/main/java/com/cine/rest_spring/service/conectar.java
